{{yield}}

<h1>Current Question:</h1>
<div>Name:  {{post.name}}</div>
<div>Question:  {{post.question}}</div>
<div>Notes: {{post.notes}}</div>
<button {{action 'delete' post}}>Delete Question</button>
<br>
